<ion-header [translucent]="true" class="designhead">
  <ion-toolbar color="tertiary">
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <div class="flex">
<section class="Image">
      <img src="assets/img/img15.jpg">
</section>
<section class="Image">
      <img src="assets/img/img14.jpg">
</section>
<section class="MyLoopinImage">
      <img src="assets/img/img13.jpg">
</section>
<section class="MyLoopinImage">
      <img src="assets/img/img12.jpg">
</section>
<section class="Image">
      <img src="assets/img/img11.jpg">
</section>
<section class="MyLoopinImage">
      <img src="assets/img/img1.jpg">
</section>
<section class="MyLoopinImage">
      <img src="assets/img/img2.jpg">
</section>
<section class="Image">
      <img src="assets/img/img3.jpg">
</section>
<section class="Image">
      <img src="assets/img/img4.jpg">
</section>
<section class="Image">
      <img src="assets/img/img5.jpg">
</section>
<section class="MyLoopinImage">
      <img src="assets/img/img10.jpg">
</section>
<section class="Image">
      <img src="assets/img/img9.jpg">
</section>
<section class="Image">
      <img src="assets/img/img8.jpg">
</section>
<section class="Image">
      <img src="assets/img/img7.jpg">
</section>
<section class="Image">
      <img src="assets/img/img6.jpg">
</section>
</div>

</ion-content>